/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*Обнуление*/
body {
    background:#e8e8e8 url("../img/layer_1_27.png") 50% 130px no-repeat;
}
.content {
padding: 168px 0 137px 0;
max-width: 841px;
margin: 0px auto;

}
.content-top {
    text-align: center;
    margin: 0 0 70px 0;
}
.content-top-category {
    opacity: 0.6;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #273d46;
margin: 0px 0px 15px 0px;
}
.content-top-title {
font-size: 36px;
line-height: 50px;
color: #273d46;

}
.content-image {
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
    background-color: #ffffff;
    padding: 10px;
    margin: 0px 0px 85px 0px;
}

.content-image img{
    max-width: 100%;
}
.content-bottom {
    padding: 0px 45px;
}
.content-bottom-text {
font-size: 24px;
line-height: 40px;
color: #8c979b;
margin-bottom: 50px;
}
.content-bottom-text p{
margin: 0px 0px 40px 0px;
}
.content-bottom-text p:last-child{
margin:0;
}
.content-bottom-info {
    margin-bottom: 59px;
}

.content-bottom-info-list li{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 0px 18px 0px;

    padding: 0px 0px 0px 36px;
}
.content-bottom-info-list li:before{
    content:'';
    background: url('../img/check\ icon.png') 0 0 no-repeat;
 
    width: 20px;
    height: 20px;
}
.content-bottom-info-list li:last-child{
margin:0;
    }
.content-bottom-info-list li:nth-child(1){
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #273d46;
text-decoration: line-through;
}
.content-bottom-info-list li:nth-child(2){
font-style: italic;
color: #80b7b3;
font-weight: bold;
}
.content-bottom-info-list li:nth-child(3){

color: #273d46;
font-style: italic;
}
.content-bottom-info-list li:nth-child(4){

text-transform: uppercase;
}
.content-bottom-info-list li:nth-child(1):hover{
text-decoration: none;
    }
    .content-bottom-info-list li:nth-child(2):hover{
    font-style: italic;
    color: red;
    font-weight:400;
    }
    .content-bottom-info-list li:nth-child(3):hover{
font-style:normal;

    }
    .content-bottom-info-list li:nth-child(4):hover{
        text-transform:none;
 
    }
.content-bottom-info-list li:nth-child(4) span{
opacity: 0.3;
}
.content-bottom-info-link {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0px 30px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    background-color: #80b7b3;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
margin: 0px 0px 50px 0px;
}
.content-bottom-info-link:hover{
background-color:#3a5856;
}
.content-bottom-info-link:active{
    background-color:#818181;
    }

.content-bottom-info-link span{

padding: 0px 30px 0px 0px;
}
.content-bottom-info-link span::after {
    content: url('../img/shape_2_9.png');
    margin: 0px 0px 20px 10px;
}

.content-bottom-info-link:active {
    position: relative;
    top: 3px;
    -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    }
    .textinput {
        border: 1px solid #666;
        height: 50px;
        padding: 0px 15px;
        font-size: 18px;
        width: 300px;
        margin: 0px 0px 10px 0px;
    }
    
    .textinput:active{
        border: 1px solid #7fbed5;
        box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
    }
    
